:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-tertiary: #02cdf1;
  --color-accent: #ff3400;
  --color-heading: #210e6b;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-iconback: #f3f9fa;
  --color-border: #ccc;
  --border-radius: 40px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */
::selection {
  background: var(--color-primary);
  color: white;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* link */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* badges */
.badge {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
}

.badge--primary {
  color: white;
  background: var(--color-primary);
}
.badge--secondary {
  color: white;
  background: var(--color-secondary);
}
.badge--tertiary {
  color: white;
  background: var(--color-tertiary);
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* list */
.list {
  list-style: none;

  padding-left: 0;
}

.list--inline .list__item {
  /* inline can not apply margin so choice inline-block here */
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-heading);
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
    margin-bottom: 1rem;
  }
}
/* icons */
.icon-container {
  background: var(--color-iconback);
  width: 8rem;
  height: 8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.icon {
  width: 4rem;
  height: 4rem;
}
.icon--small {
  width: 3rem;
  height: 3rem;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}
.icon-container--accent {
  background: var(--color-accent);
}

@media screen and (min-width: 1024px) {
  .icon-container {
    width: 6rem;
    height: 6rem;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
}
/* button */
/* block elements fit the 100%width */
.button {
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  outline: 0;
  margin: 1rem 0;
  /* text-transform */
  text-transform: uppercase;
  padding: 2rem 4vw;
  border: 0;
  /* 鼠标显示成手指 让他看起来可以点击 */
  cursor: pointer;
  /* dont lat text wrap t osecond line  */
  white-space: nowrap;
}
.button .icon {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.button--primary {
  color: white;
  background: var(--color-accent);
}
.button--primary:hover {
  background: #fd4416;
}
.button--secondary {
  color: white;
  background: var(--color-secondary);
}
.button--secondary:hover {
  background: #2cdfff;
}
.button--unselected {
  color: var(--color-heading);
  background: white;
  border: 0.2rem solid var(--color-heading);
}
.button--unselected:hover {
  background: #392c6d;
}
.button--selected {
  color: white;
  background: var(--color-heading);
}
.button--selected:hover {
  background: #33246d;
}
.button--block {
  width: 100%;
  display: inline-block;
}
.button--long {
  padding-right: 6rem;
  padding-left: 6rem;
}
@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}
/* input */
.input {
  border-radius: var(--border-radius);
  font-size: 2rem;
  padding: 2rem 4rem;
  /* cleaning the outline */
  outline: 0;
  border: 1px solid var(--color-border);
  color: var(--color-heading);
}
::placeholder {
  color: #cdcbd7;
}
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}
.input-group .input {
  border: 0;
  /* let input grow take up all this parent's space */
  flex-grow: 1;
  padding-left: 4rem;
  width: 0;
}
.input-group .button {
  margin: 0.4rem 0.4rem;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* card */
.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  /* child will grow bigger so overflow therefor we should use hidden */
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 2.5rem;
}
.card--parimary .card__header {
  color: white;
  background: var(--color-primary);
}
.card--secondary .card__header {
  color: white;
  background: var(--color-secondary);
}
/* plans */
.plan {
  transition: transform 0.15s ease-out;
}
.plan__name {
  color: white;
  font-size: 2.4rem;
  margin-top: 0;
  font-weight: 500;
}
.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2.4rem;
  opacity: 0.8;
  margin-right: 1rem;
}
.plan .badge {
  text-transform: uppercase;
}
.plan .plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.plan .list {
  font-weight: 500;
}
.plan .list__item {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.5rem;
  }
}
.plan--popular {
  transform: scale(1.1);
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

/* media */
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__image {
  margin-top: 1rem;
}
.media__body {
  margin: 0 2rem;
}
/* quotes */
.quote {
  color: var(--color-body-darker);
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__author {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-bottom: 0;
}
.quote .media__content {
  font-size: 2rem;
  color: var(--color-body);
}
.quote__line {
  position: relative;
  bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2.4rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote .media__content {
    font-size: 1.6rem;
  }
}
/* grids */
.grid {
  display: grid;
  /* justify-items */
  /* align-items */
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* testimonial */
.testimonial {
  padding: 2.5rem;
}
.testimonial__image > img {
  width: 100%;
}
.testimonial__image {
  padding: 0 2rem;
  position: relative;
}
.testimonial .testimonial__icon {
  position: absolute;
  top: 3rem;
  right: -2rem;
}
@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .testimonial .testimonial__icon {
    right: -1rem;
  }
}
/* callout */
.callout {
  border-radius: 7px;
  padding: 4rem;
}
.callout__title {
  color: white;
  margin-top: 0;
  font-size: 3rem;
}
.callout--primary {
  background: var(--color-primary);
  color: white;
}
.callout .button {
  /* ?? */
  justify-self: center;
  align-self: center;
}
.callout__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .button {
    /* ?? */
    justify-self: start;
    margin: 0 2rem;
  }
}
/* collapsible */
.collapsible .collapsible__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;

  font-size: 3rem;
}
.collapsible__chevron {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.collapsibale__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsibale__content {
  max-height: 100vh;
  opacity: 1;
}
/* block */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}
.block__header {
  text-align: center;
  margin-bottom: 4rem;
}
.block__footer {
  text-align: center;
  margin-bottom: 4rem;
}
.block__heading {
  margin-top: 0;
}
.block__dark {
  background: black;
  color: white;
}
.block__dark h1,
.block__dark h2,
.block__dark h3 {
  color: white;
}
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}
/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar */
.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem 1rem;
  align-items: center;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: #fff;
}
.nav__toggler {
  opacity: 0.7;
  transition: box-shadow 0.15s;
  /* make toggler looks clickable */
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}
.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
/* hero */
.hero {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 100%;
}
.hero__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}
/* domain block */
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e3ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}
.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 740px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
/* plans Block */
.block-plans .grid {
  gap: 4rem;
}
.block-plans .plan {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .block-plans .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .plan:hover {
    transform: scale(1.2);
  }
}
/* feature  block */
.feature-media {
  flex-direction: column;
}
.feature-media__body {
  margin: 0;
}
.featuer__image {
  width: 100%;
}
.block-features .feature {
  max-width: 570px;
  margin: 4rem auto;
}
.feature {
  gap: 8rem;
}
@media screen and (min-width: 1024px) {
  .feature {
    align-items: center;
  }
  .block-features .feature {
    max-width: 1140px;
  }
  .feature:nth-of-type(odd) .feature__content {
    order: 2;
  }
}
/* block-showcase */
.block-showcase__image > img {
  width: 100%;
}
.block-showcase li {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
  .block-showcase__image {
    justify-self: end;
  }
  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }
}
/* footer */
.footer {
  background: #232323;
}
.footer__section {
  padding: 2rem;
  border-bottom: 2px solid #787878;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}
.footer__copyright {
  font-size: 2.1rem;
  opacity: 0.3;
  color: white;
}
.footer a {
  color: #777;
  cursor: pointer;
  transition: color 0.3s;
}
.footer a:hover {
  color: white;
}
.footer__brand img {
  width: 100%;
  max-width: 230px;
}
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsibale__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
}
