:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-tertiary: #02cdf1;
  --color-accent: #ff3400;
  --color-heading: #210e6b;
  --color-body: #918ca4;
  --color-iconback: #f3f9fa;
  --color-border: #ccc;
  --border-radius: 40px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* link */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* badges */
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  word-wrap: nowrap;
}

.badge--primary {
  color: white;
  background: var(--color-primary);
}
.badge--secondary {
  color: white;
  background: var(--color-secondary);
}
.badge--tertiary {
  color: white;
  background: var(--color-tertiary);
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* list */
.list {
  list-style: none;
  color: var(--color-heading);
  padding-left: 0;
}

.list--inline .list__item {
  /* inline can not apply margin so choice inline-block here */
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
    margin-bottom: 1rem;
  }
}
/* icons */
.icon-container {
  background: var(--color-iconback);
  width: 8rem;
  height: 8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.icon {
  width: 4rem;
  height: 4rem;
}
.icon--primary {
  fill: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .icon-container {
    width: 6rem;
    height: 6rem;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
}
/* button */
/* block elements fit the 100%width */
.button {
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  /* text-transform */
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: 0;
  /* 鼠标显示成手指 让他看起来可以点击 */
  cursor: pointer;
  /* dont lat text wrap t osecond line  */
  white-space: nowrap;
}
.button--primary {
  color: white;
  background: var(--color-accent);
}
.button--primary:hover {
  background: #fd4416;
}
.button--secondary {
  color: white;
  background: var(--color-secondary);
}
.button--secondary:hover {
  background: #2cdfff;
}
.button--unselected {
  color: var(--color-heading);
  background: white;
  border: 0.2rem solid var(--color-heading);
}
.button--unselected:hover {
  background: #392c6d;
}
.button--selected {
  color: white;
  background: var(--color-heading);
}
.button--selected:hover {
  background: #33246d;
}
.button--block {
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}
/* input */
.input {
  border-radius: var(--border-radius);
  font-size: 2rem;
  padding: 2rem 4rem;
  /* cleaning the outline */
  outline: 0;
  border: 1px solid var(--color-border);
  color: var(--color-heading);
}
::placeholder {
  color: #cdcbd7;
}
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}
.input-group .input {
  border: 0;
  /* let input grow take up all this parent's space */
  flex-grow: 1;
  padding-left: 1rem;
}
.input-group .button {
  margin: 0.4rem 0.4rem;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* card */
.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  /* child will grow bigger so overflow therefor we should use hidden */
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 2.5rem;
}
.card--parimary .card__header {
  color: white;
  background: var(--color-primary);
}
.card--secondary .card__header {
  color: white;
  background: var(--color-secondary);
}
/* plans */
.plan__name {
  color: white;
  font-size: 2.4rem;
  margin-top: 0;
  font-weight: 500;
}
.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2.4rem;
  opacity: 0.8;
  margin-right: 1rem;
}
.plan .badge {
  text-transform: uppercase;
}
.plan .plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.plan .list {
  font-weight: 500;
}
.plan .list__item {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.5rem;
  }
}
