<section class="block container block-domain">
  <header class="block__header">
    <h2>The best webhosting Starting at per month</h2>
    <p class="block__content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
      explicabo magni exercitationem reprehenderit ad temporibus voluptates quis
      amet delectus est?
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input"
      name=""
      placeholder="Enter domain name here..."
      id=""
    />
    <button class="button button--primary">
      <svg class="icon icon--white icon--small">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $9.26</span></li>
    <li>.com $9.26</li>
    <li>.com $9.26</li>
    <li>.com $9.26</li>
    <li>.com $9.26</li>
    <li>.com $9.26</li>
  </ul>
</section>
