<section class="block container block-features">
  <header class="block__header">
    <h2>Host on the brow to keep</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
      aspernatur.
    </p>
  </header>
  <div class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="media feature-media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </div>
        <div class="media__body feature-media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            eaque nobis sed ea quisquam id ratione numquam
          </p>
        </div>
      </div>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <img class="featuer__image" src="/images/easy.jpg" alt="" />
  </div>
  <div class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="media feature-media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </div>
        <div class="media__body feature-media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            eaque nobis sed ea quisquam id ratione numquam
          </p>
        </div>
      </div>

      <a href="#" class="link-arrow">learn more</a>
    </div>
    <img class="featuer__image" src="/images/fast.jpg" alt="" />
  </div>
  <div class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="media feature-media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </div>
        <div class="media__body feature-media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            eaque nobis sed ea quisquam id ratione numquam
          </p>
        </div>
      </div>

      <a href="#" class="link-arrow">learn more</a>
    </div>
    <img class="featuer__image" src="/images/support.jpg" alt="" />
  </div>
  <div class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="media feature-media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </div>
        <div class="media__body feature-media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            eaque nobis sed ea quisquam id ratione numquam
          </p>
        </div>
      </div>

      <a href="#" class="link-arrow">learn more</a>
    </div>
    <img class="featuer__image" src="/images/wordpress.jpg" alt="" />
  </div>
</section>
