<footer class="block block__dark footer">
  <div class="grid container footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
      </header>
      <div class="collapsibale__content">
        <ul class="list">
          <li><a href="#">website</a></li>
          <li><a href="#">free automarted</a></li>
          <li><a href="#">migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 2</h2>
      </header>
      <div class="collapsibale__content">
        <ul class="list">
          <li><a href="#">website</a></li>
          <li><a href="#">free automarted</a></li>
          <li><a href="#">migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 3</h2>
      </header>
      <div class="collapsibale__content">
        <ul class="list">
          <li><a href="#">website</a></li>
          <li><a href="#">free automarted</a></li>
          <li><a href="#">migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 4</h2>
      </header>
      <div class="collapsibale__content">
        <ul class="list">
          <li><a href="#">website</a></li>
          <li><a href="#">free automarted</a></li>
          <li><a href="#">migrations</a></li>
        </ul>
      </div>
    </section>

    <section class="block__footer footer__brand">
      <img src="/images/logo.svg" alt="" />
      <p class="footer__copyright">copy right 2020 youhess</p>
    </section>
  </div>
</footer>
